@import url(./variaveis.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-fundo);
    color: var(--branco-principal);
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("/imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain; /*preencher todo o tamanho do container*/
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.conteiner__imagem{
    margin: 1em 0 2em 0;
}

.container__botao {
    color: var(--branco-principal);
    background-color: var(--azul-botao);
    padding: 1em;
    border-radius: 8px;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

/*Estilizando section 2*/
.secundario {
    margin: 0 6em;
    align-items: center;
}
.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: .1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

/*Estilizando section 3*/
.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}